# Analysis files produced by ParseC
analysis.json

specs/
logs/

# Caches for linting tools
.mypy_cache
.ruff_cache

.vscode/
*.goto

*.pyc
__pycache__/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Obtained via Git
.plume-scripts

# Local caches
data/caching/

# Files created by running tests
test/data/function_util/update_function_definition/*-copy.c
test/data/caching/
